body {
  background-color: wheat;
  margin: 0;
  height: 700px;
  background-image: url("https://cdn.pixabay.com/photo/2018/08/23/07/35/thunderstorm-3625405_960_720.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}

p { color: blue}

.Titol {
    background-color:orangered;
    width: 100%;
    height:100px;
    text-align: left ;
    color: black ;
  }
  .Icones {
    color: white;
    text-align: center ;
      }
      form {
        color: white;
          }      

